---

---
<div class="text-white">

  <h1 class="text-[150px] leading-[150px] ">Esperanza</h1>
  <div class="flex flex-row">
    <h1 class="text-gradient text-[150px] leading-[150px]">Fest</h1>
  </div>
  <p><b>06</b> Jun24</p>
  <a href="#Place">Plaza Zorrilla,<br>
    Valladolid
  </a>
</div>