---
// Supports weights 300-800
import '@fontsource-variable/open-sans';
---

<div class="bg-white">
  <div class="flex flex-row mx-auto w-4/5 text-darkBlue py-24 border align-top">
    <div class="flex flex-col w-2/5 space-y-6 border">
      <h1 class="text-5xl font-bold text-start">
        DARIO SCUOPPO Y EQUIPO
      </h1>
      <p class="text-xl">
        Explore new techniques, gain insights, and unleash your artistic
        potential
      </p>
      
      <div>
        <a
          href="#more-info"
          class="rounded-2xl h-[20px] bg-btn-purple text-white px-6 py-4"
          >Explore</a
        >
      </div>
    </div>
    <div class="flex w-3/5 mr-8 border m-24">
      <img 
      src="../../public/images/dario-photo.webp" 
      alt="nestor ortega"
      class="rounded-3xl"
      >
    </div>
  </div>
  <div class="flex flex-row mx-auto w-4/5 text-darkBlue py-24">
    <div class="flex ml-8">
      <img 
      src="../../public/images/nestor-photo.webp" 
      alt="nestor ortega"
      class="rounded-3xl"
      >
    </div>
    <div class="space-y-6 w-2/5">
      <h1 class="text-5xl font-bold text-start">
        NESTOR ORTEGA, ARTISTA DE MÚSICA URBANA
      </h1>
      <p class="text-xl">
        Explore new techniques, gain insights, and unleash your artistic
        potential
      </p>
      <div>
        <a
          href="#more-info"
          class="rounded-2xl h-[20px] bg-btn-purple text-white px-6 py-4"
          >Explore</a
        >
      </div>
    </div>
  </div>
</div>
