<h1 class="text-center text-5xl bg-white text-darkBlue font-bold pb-10">INVITADOS</h1>
<div class="flex flex-row">
  <img src="../../public/images/speaker1.png" alt="speaker1" class="w-1/5">
  <img src="../../public/images/speaker2.png" alt="speaker2" class="w-1/5">
  <img src="../../public/images/speaker3.png" alt="speaker3" class="w-1/5">
  <img src="../../public/images/speaker4.png" alt="speaker4" class="w-1/5">
  <img src="../../public/images/speaker5.png" alt="speaker5" class="w-1/5">
  
</div>