---
// import { Vimeo } from '@astro-community/astro-embed-vimeo'
---

<div class="bg-white w-screen text-darkBlue pt-24">
  <p class="text-center text-4xl pb-16 font-thin">
    Bienvienido a Esperanza fest, un festival<br>social pensado para la familia<br>
    Contaremos con un programa infantil,<br>
    bailes, teatro, música, un concierto<br>
    social y mucho más.
  </p>
  <!-- <Vimeo id='952889402' class:list={`w-[700px] m-auto mb-16`}/> -->
</div>