---
import { Vimeo } from '@astro-community/astro-embed-vimeo'
---

<div class="bg-white w-screen text-darkBlue pt-24">
  <p class="text-center text-5xl pb-16 font-thin">
    Welcome to Event, the original social<br> entertanment venue! Get ready to<br>
    get playful, and create memories<br>
    around the table
  </p>
  <Vimeo id='952889402' class:list={`w-[700px] m-auto mb-16`}/>
  <h1 class="text-center text-5xl font-bold pb-10">SPEAKERS</h1>
</div>